.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .description {
    p {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
